*.pyc
ephys/__pycache__/*.pyc
deapext/__pycache__/*.pyc
deapext/tools/__pycache__/*.pyc
ephys/examples/simplecell/__pycache__/*.pyc
*.swp
x86_64
/bluepyopt.egg-info/
/build/
/dist/
.DS_Store
/.tox
.ipynb_checkpoints
/.python-version
/cov_reports
.coverage
