dask
lxml==4.4.1
elephant==0.4.1
mock==3.0.5
scipy==1.3.1
libNeuroML==0.2.47
tqdm==4.48.2
neo==0.5.2
plotly==4.5.2
allensdk==0.16.3
simplejson==3.17.0
future==0.17.1
streamlit
asciiplotlib==0.2.3
pandas==1.1.0
matplotlib==3.1.1
seaborn==0.9.0
quantities==0.12.4
Jinja2==2.10.3
# pyNeuroML==0.3.15
numpy
Pebble==4.5.3
backports.statistics==0.1.0
python_dateutil
scikit_learn==0.23.2
frozendict==1.2
neo==0.5.2
numba
tqdm==4.48.2
maps==5.1.1
allensdk==0.16.3
natsort==7.0.1
efel==3.0.72
nbformat==4.4.0
quantities==0.12.4
# asciiplotlib==0.2.3
dask[bag]
fsspec>=0.3.3
# git+https://github.com/scidash/sciunit@dev
# git+https://github.com/russelljjarvis/neuronunit
